In [1]:
#--------------------------------------------------------------------------------------------------#
#Use tools available for Python to plot charts and tables to visualize/display this information:   #
#    -Mean/median/minimum/maximum number of supervised theses per year for faculties.              #
#--------------------------------------------------------------------------------------------------#

import pandas as pd
import numpy as np

#prepare all data
all_theses_df = pd.read_csv('pdd_homework1_wz_all_data.csv', sep='|')
all_theses_df['DATE_OF_DEFENCE'] = all_theses_df['DATE_OF_DEFENCE'].str[:4]
del all_theses_df['Unnamed: 0']
all_theses_df = all_theses_df.replace(np.nan, 'N/A', regex=True)

#get all names of faculties
fac_name_df = all_theses_df['FACULTY_NAME']
faculties = []

for f in fac_name_df :
    if f in faculties :
        continue
    else :
        faculties.append(f)

#get all years of defence       
th_dates_df = all_theses_df['DATE_OF_DEFENCE']
th_years = []

#there is try block because sometimes year is not available
for d in th_dates_df :
    try :
        if d=='N/A' :
            continue
        if d in th_years :
            continue
        else :
            th_years.append(d)
    except TypeError :
        continue

numOfThesesPerFacultyAndYear =[]
        
df = pd.DataFrame(columns = ['FACULTY_NAME','NUMBER_OF_THESES'])

for faculty in faculties :
    for th_year in th_years :        
        temp_df = all_theses_df[(all_theses_df['FACULTY_NAME']==faculty)&(all_theses_df['DATE_OF_DEFENCE']==th_year)&(all_theses_df['SUPERVISOR_NAME']!='N/A')]
        count = len(temp_df)

        if count>0 :
            tmp_dict = {
                "name" : faculty,
                "num_of_th" : count
            }
            numOfThesesPerFacultyAndYear.append(tmp_dict)
            df = df.append({'FACULTY_NAME' : faculty, 'NUMBER_OF_THESES' : count}, ignore_index = True)
            
numbers = df['NUMBER_OF_THESES']

spec_values = []

mean = {
    "cat" : "MEAN VALUE",
    "value" : np.mean(numbers)
}

median = {
    "cat" : "MEDIAN VALUE",
    "value" : np.median(numbers)
}

min_v = {
    "cat" : "MINIMUM VALUE",
    "value" : np.min(numbers)
}

max_v = {
    "cat" : "MAXIMUM VALUE",
    "value" : np.max(numbers)
}

spec_values.append(mean)
spec_values.append(median)
spec_values.append(min_v)
spec_values.append(max_v)

spec_val_df = pd.DataFrame(columns = ['CATEGORY','VALUE'])

for spec_value in spec_values:
    cat = spec_value.get("cat")
    value = spec_value.get("value")
    
    spec_val_df = spec_val_df.append({'CATEGORY' : cat, 'VALUE' : value}, ignore_index = True)

display(spec_val_df)

        CATEGORY        VALUE
0     MEAN VALUE   379.432432
1   MEDIAN VALUE   319.000000
2  MINIMUM VALUE     2.000000
3  MAXIMUM VALUE  1547.000000